.mod {
  width: 40rem;
  height: 53.33rem;
}
.box {
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
  background-color: #ffffff;
  width: 40rem;
  height: 53.33rem;
}
.layer {
  position: absolute;
  top: 0rem;
  left: 0rem;
  width: 40rem;
  height: 53.33rem;
}
.primary {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  margin-top: 2.01rem;
  width: 37.47rem;
  height: 49.52rem;
}
.bg {
  position: relative;
  width: 37.47rem;
  height: 49.52rem;
}
.building {
  position: absolute;
  top: 11.43rem;
  left: 5.48rem;
  text-decoration: none;
  line-height: 1.51rem;
  letter-spacing: 0;
  color: #8b7da6;
  font-size: 1.51rem;
}
.floorBg {
  position: absolute;
  top: 2.55rem;
  left: 2.31rem;
  width: 9.84rem;
  height: 1.61rem;
}
.banner {
  position: absolute;
  top: 5.61rem;
  right: 2.37rem;
  width: 7.72rem;
  height: 2.92rem;
}
.cover {
  position: absolute;
  top: 5.61rem;
  right: 10.77rem;
  width: 7.72rem;
  height: 2.92rem;
}
.banner_1 {
  position: absolute;
  top: 5.61rem;
  left: 10.57rem;
  width: 7.72rem;
  height: 2.92rem;
}
.cover_1 {
  position: absolute;
  top: 5.61rem;
  left: 2.2rem;
  width: 7.72rem;
  height: 2.92rem;
}
