body{
	padding: 0;
	margin: 0;
	background: url(https://cdn.jsdelivr.net/gh/Knight-of-night/Knight-of-night.github.io@latest/articles/assets/bg.jpg);
	background-size: 100% 100%;
	background-attachment: fixed
}
[title]{
	font-size: 38px;
	color:#f9f7f7;
}
.header,.footer {
	width: 100%;
}
.header {
	background-color: #1d2152;
	font-size: 26px;
	opacity: 0.8;
}
.head {
	text-align: left;
	font-size: 46px;
	width:80%;
	color: #f9f7f7;
}
.nav {
	margin: 50px 100px 0 100px;
	background-color: #dddff1;
	min-height: 36px;
	color: #1d2152;
}
.nav>div {
	display: inline-block;
	width: 20%
}
.content {
	width:80%;
	min-height: 500px;
	background-color: #515eb7;
	opacity: 0.8;
}
.timestamp {
	text-align: right;
	font-size: 16px;
	margin: 0 64px 16px 64px;
	color: #f9f7f7;
}
.txt {
	text-align: left;
	font-size: 22px;
	margin-left: 25px;
	margin-right: 25px;
	color: #f9f7f7;
}
.foot {
	width:80%;
	height: 100px;
	background-color: #1d2152;
	opacity: 0.9;
	color: #f9f7f7;
}

a:link {
	text-decoration:none;
	color:#1d2152;
}
a:hover {
	color:#1d2152;
}
a:active {
	color:#1d2152;
}
a:visited {
	color:#1d2152;
	text-decoration:none;
}
